<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/head :: header"></div>

</head>

<body>


<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">
        <div class="ecommerce-widget">
            <h2>Welcome to Post Nick Name!</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/welcome/post}" method="post" th:object="${nickname}">
                    <div class="form-group">
                        <label for="nickname" class="float-left">Nick Name</label>
                        <input type="text" id="nickname" name="nickname" class="form-control"
                               th:field="*{nickName}"    placeholder="input your nick name"/>
                    </div>
                    <input type="submit" name="login-submit" id="login-submit"
                           class="form-control btn btn-primary btn-lg btn-block" value="Post"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">nick name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each : ${nickNames}">
                <th scope="row" th:text="${each.id}">#</th>
                <td th:text="${each.nickName}">nick name</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
